.popular__title {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  color: #07484a;
  text-align: center;
  margin-bottom: 54px;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slide {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-top: 10px;
  position: relative;
  margin-left: -120px;
  > li > button {
    border: none;
    font-size: 0;
    width: 180px;
    height: 5px;
    background-color: #07484a;
    font-weight: 0;
    line-height: 0;
  }
  > .slick-active > button {
    background-color: #70908b;
    height: 10px;
    border-radius: 1px;
  }
}

.slick-slide {
  width: 430px;
  display: inline-block;
  padding: 20px 10px;
  width: 430.75px;
  background: #caf3e5;
  border-radius: 16px;
}

.popular__slide-img {
  width: 204px;
  display: flex;
  align-items: center;
  justify-content: center;
  > img {
    width: 204px;
  }
}

.popular {
  margin-bottom: 100px;
}
.popular__slide {
  max-width: 1400px;
  margin-left: auto;
}

.slick-track {
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > div {
    height: 685px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
}

.popular__slide-title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #70908b;
  margin-top: 40px;
  margin-bottom: 50px;
}

.popular__slide-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #70908b;
  margin-bottom: 10px;
}

.popular__slide-text:nth-child(3) {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.popular__container {
  background-repeat: no-repeat;
  background-image: url("../img/popular_bg.png");
  background-color: transparent;
  padding-bottom: 180px;
}

.popular {
  margin-top: 50px;
}

.slick-next {
  border: none;
  font-size: 0;
  background: #f9d9da;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-image: url("../img/next.svg");
  background-position: center;
  padding: 26px;
  position: absolute;
  bottom: -10%;
  right: 2.5%;
}

.popular__slide {
  position: relative;
}

.slick-prev {
  border: none;
  font-size: 0;
  background: #e0eff6;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-image: url("../img/next.svg");
  background-position: center;
  padding: 26px;
  transform: rotate(180deg);
  position: absolute;
  bottom: -10%;
  right: 10%;
}

.popular__slide3{
  display: none;
}

.popular__btn {
  padding: 24px 20px;
  width: 265px;
  background: #70908b;
  border: none;
  border-radius: 10px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  margin: 0 auto;
  display: block;
  margin-top: 100px;
  cursor: pointer;
  &::after {
    content: "";
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url("../img/right.svg");
    width: 20px;
    height: 12px;
    margin-left: 18px;
  }
}

.popular__slide2,.popular__slide3{
  position: relative;
}

.popular__slide2 {
  display: none;
}



@media only screen and (max-width: 1620px) {
  .slick-dots {
    margin-left: -30px;
    padding: 20px;
    > li > button {
      // width: 100%;
      max-width: 150px;
    }
  }
  .popular__slide {
    display: none;
  }
  .popular__slide2 {
    display: block;
  }
}

@media only screen and (max-width: 1250px) {
  .slick-dots {
    margin-left: -20px;
    padding: 20px;
    > li > button {
      // width: 100%;
      max-width: 100px;
    }
  }
}

@media only screen and (max-width: 850px) {
  .slick-dots {
    margin-left: 0px;
    padding: 20px;
    > li > button {
      // width: 100%;
      max-width: 50px;
    }
  }
  .popular__slide-title {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .slick-track {
    > div {
      height: 450px;
    }
  }

  .popular__container {
    background-size: contain;
    padding-bottom: 60px;
  }

  .popular__btn {
    margin-top: 15px;
  }
}




.popular__slide3{
  display: none;
}

@media only screen and (max-width: 660px) {
  .popular__slide-img {
    width: 89px;
    > img {
      width: 89px;
    }
  }

  

  .popular__slide-title {
    font-size: 18px;
    line-height: 23px;
  }
  .popular__slide-text {
    font-size: 18px;
    line-height: 25px;
  }
  .popular__slide-text:nth-child(3) {
    font-size: 24px;
    line-height: 33px;
  }
  .slick-track {
    > div {
      height: 270px;
    }
  }

  .popular__title {
    font-size: 28px;
    line-height: 42px;
  }

  .popular__btn {
    padding: 10px 12px;
  }


  .slick-prev{
    right: 30%;
  }
  .slick-next{
    right: 5%;
  }

  .popular__btn{
    margin-top: 50px;
  }

  .popular__slide2{
    display: none;
  }
  .popular__slide3{
    display: inline-block;
  }

  .draggable{
    max-width: 300px;
    margin: 0 auto;
  }

  
  .slick-track{
    >div{
      width: 200px !important;
      
    }
  }


  .slick-dots {
    margin-left: 0px;
    padding: 20px;
    > li > button {
      max-width: 50px;
    }
  }

  .draggable{
    max-width: 350px;
  }
}
